#!/bin/sh

source $HOME/.git-aliases

if [ "$OSTYPE" != linux-gnu ]; then  # Is this the macOS system?
    alias ls=gls
fi

alias \
    cp="cp -iv" \
    mv="mv -iv" \
    rm="rm -v" \
    lsa="ls -lAFh --sort=extension --color --group-directories-first" \
    ll="lsa" \
    zrc="vim ~/.zshrc" \
    S="sudo pacman -S" \
    p="sudo pacman" \
    ka="killall" \
    v="f -e $EDITOR" \
    o="a -e xdg-open" \
    j="zz" \
    mic="pactl load-module module-loopback latency_msec=1" \
    micoff="pactl unload-module module-loopback" \
    dres="(docker-compose restart)" \
    up="(docker-compose up -d)" \
    psh="(docker && docker-compose exec php sh)" \
    dco="docker-compose" \
    dcx="docker-compose exec" \
    vim="nvim"
